html,
body,
#app,
#app1 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #141d2b;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Hiragino Sans GB',
    'Microsoft Yahei', '微软雅黑', Arial, Helvetica, STHeiti, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  max-width: 100%;
}
.relative {
  position: relative;
}
.none {
  display: none;
}
.curp {
  cursor: pointer;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfloat:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.clearfloat {
  zoom: 1;
}
.mt10 {
  margin-top: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.el-dialog {
  max-height: 70%;
  overflow-y: auto;
  .el-dialog__header {
    background: #f6f6f6;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #dadada;
    padding: 15px !important;
  }
  .el-dialog__body {
    // max-height: calc(100% - 60px);
    overflow-y: auto;
    box-sizing: border-box;
  }
  .el-dialog__footer {
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    padding: 15px !important;
  }
}

// 分页

.el-pagination {
  .el-pagination__total {
    color: white !important;
  }
  .el-input__inner {
    background: transparent !important;
    border: none !important;
    color: white !important;
  }
  .btn-prev {
    background: transparent !important;
    .el-icon {
      color: white !important;
    }
  }
  .el-pager li {
    background: transparent !important;
    color: white !important;
  }
  .el-pager li:not(.disabled).active {
    background: transparent !important;
    color: #9acc14 !important;
  }
  .btn-next {
    background: transparent !important;
    .el-icon {
      color: white !important;
    }
  }
  .el-pagination__jump {
    color: white !important;
  }
}
.more-operation {
  .el-button--primary {
    background-color: rgba(159, 239, 0, 0.1) !important;
    border: none !important;
    color: #97e402 !important;
  }
}

// 表格

.el-table {
  thead {
    color: white;
    tr {
      th {
        background: #141d2b !important;
        border-bottom: 1px solid #292e33 !important;
      }
    }
  }
  tbody {
    tr {
      background: #141d2b;
      color: #798086;
      .el-checkbox__inner {
        border: 1px solid #292e33;
        background-color: #141d2b;
      }
    }
  }
}
.el-table::before {
  background-color: #292e33 !important;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: transparent !important;
}
.el-table td {
  border-bottom: 1px solid transparent;
}
.el-table--border {
  border-color: #292e33 !important ;
  td {
    border-right-color: #292e33 !important ;
  }
  th {
    border-right-color: #292e33 !important ;
  }
}
.el-table--border::after {
  background-color: transparent !important;
}
