.el-dialog {
  max-height: 70%;
  overflow-y: auto;
  .el-dialog__header {
    background: #111927;
    text-align: center;
    padding: 10px !important;
    .el-dialog__title {
      color: white;
    }
    .el-dialog__headerbtn {
      font-size: 24px;
      top: 10px !important;
      .el-dialog__close:hover {
        color: white;
      }
    }
  }
  .el-dialog__body {
    // max-height: calc(100% - 60px);
    overflow-y: auto;
    box-sizing: border-box;
    background: #1a2332;
  }
  .el-dialog__footer {
    background-color: #111927;
    padding: 10px 20px 10px;
    button {
      background-color: rgba(159, 239, 0, 0.1) !important;
      border: none !important;
      color: #97e402 !important;
    }
  }
}
